#posts-wrapper {
  padding: 3em;
}
.autor img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

#all-comments{
  background: none;
  color: #4f4f4f;
  border: none;
  display: inherit;
  margin: 0 0 0 12px;
  font-size: 9pt;
}

#all-comments a{
    font-size: 11pt;
}

.add-post{
  position: fixed;
  bottom: 0;
  margin: 2%;
}
