<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Post Detail</title>
</head>

<body>
  <nav class="d-flex justify-content-between mb-3 px-lg-5 p-3 navbar navbar-light bg-light">
    <a href="../index.html"><img class="logo" src="../images/logo.png" /></a>
    <button type="button" class="btn btn-primary" id="go-add-post-detail">Agregar Post</button>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-12 post-wrapper" id="posts-wrapper">
        <div class="card mb-3 shadow">
          <div class="bg-white p-3 mb-3 row no-gutters">
            <div class="col-md-12">
              <img class="post-image rounded-left" src="" alt="...">
            </div>
            <div class="col-md-12 mt-3">
              <div class="card-body">

                <h5 class="card-title text-primary"></h5>
                <p class="card-text">
                  <small class="text-muted creation"></small>
                </p>
                <p class="card-text content"></p>
                <p class="card-text text-primary p-2"></p>

              </div>
            </div>
          </div>

          <div class="replies-wrapper bg-light p-2">
            <ul class="replies-wrapper bg-light p-3" id="replies-wrapper">
              <a class="archive text-muted" href="#"></a>
            </ul>
            <!--replies-->
            <div class="reply-form reply-comment">
              <form action="">
                <div class="form-group d-flex m-3">
                  <input type="text" class="form-control comment-input" placeholder="Escribe un comentario">
                  <button type="button" class="btn btn-primary btn-save-replie" data-commentkey=""
                    disabled>Comentar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content-wrapper"></div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <script src="../js/moment.js"></script>
  <script src="../js/postDetail.js"></script>
</body>

</html>